@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

:root {
    --font-principal: "Fira Code", monospace;

    --bg: #13141f;
    --bg-light: #44475a;
    --comment: #6272a4;
    --code-purple: #bd93f9;
    --code-pink: #ff79c6;
    --code-orange: #ffb86c;
    --gr-code: #50fa7b;
    --flash-light: #f8f8f2;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg);
}

::-webkit-scrollbar-thumb {
    background: var(--bg-light);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--comment);
}

body {
    background: var(--bg);
    color: var(--flash-light);
}

/* HEADER NAV */
.navbar-collapse {
    padding: 10px 0;
}

.navbar-brand {
    font-weight: 700;
    font-style: italic;
    color: var(--flash-light);
    background-color: var(--bg-light);
    border-radius: 8px 2px 8px 2px;
}

.navbar-brand:hover {
    background-color: var(--code-purple);
    transition: background-color 0.3s ease-in-out;
}

.nav-item {
    padding: 0 6px;
    font-family: var(--font-principal);
}

.nav-item a {
    text-decoration: none;
    color: var(--flash-light) !important;
}

.nav-item a:hover {
    color: var(--code-purple) !important;
    transition: color 0.2s ease-in;
}

.nav-item span {
    color: var(--gr-code);
}

/* INDEX */
.font-principal {
    font-family: var(--font-principal);
}

.main {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes move-up-down {
    0% {
        top: -12px;
    }
    50% {
        top: -22px;
    }
    100% {
        top: -12px;
    }
}
.popover-arrow {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--bg-light);
}

.text-hi {
    position: relative;
    border-radius: 6px;
    background-color: var(--bg-light);
    box-shadow: 0 5px 10px rgba(196, 196, 196, 0.1);
    padding: 10px;
    animation: move-up-down 1.5s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

.display-1,
.display-4 {
    font-family: var(--font-principal);
}

.span-primary {
    color: var(--code-pink) !important;
}

.span-secondary {
    color: var(--comment) !important;
}

.span-third {
    color: var(--code-orange) !important;
}

.my-image:hover {
    cursor: pointer;
    outline: 10px solid var(--flash-light);
    transition: outline 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

/* PROJECT */
.card {
    background-color: var(--bg);
    color: var(--flash-light);
}

.link-special {
    color: var(--code-pink);
}

.link-special:hover {
    text-decoration: underline var(--code-pink) !important;
}

.navbar-toggler-icon {
    background-image: url("../svgs/toggle/toggle.svg");
}

.featurette-divider {
    margin: 5rem 3rem !important;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
    transform: translateX(-100%);
}

.showing {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
