@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

:root {
    --font-principal: "Fira Code", monospace;

    --background: #282a36;
    --current-line: #44475a;
    --flash-lightnes: #f8f8f2;
    --green-code: #50fa7b;
}

body {
    background-color: var(--background);
    color: var(--flash-lightnes);
}

/* HEADER NAV */
.nav-item {
    padding: 0 6px;
}

.nav-item a {
    text-decoration: none;
    color: var(--flash-lightnes) !important;
}

.nav-item span {
    color: var(--green-code);
    font-family: var(--font-principal);
}

/* INDEX */
.font-principal {
    font-family: var(--font-principal);
}

.main {
    height: 100dvh;
}
