hr {
    margin: 10%;
}

.bg-darker {
    background-color: #005b96;
}

.animate-img {
    position: relative;
    animation-name: img-first;
    animation-duration: 2s;
    animation-iteration-count: 1;
    transition: all 2s ease-in-out;
}

@keyframes img-first {
    from {
        right: 100px;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}

@media (max-width: 1199.98px) {
    .img-hide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 767.98px) {
    .display-1 {
        font-size: 2.5rem;
    }
    .center-width {
        text-align: center;
    }
}
