@media (max-width: 1199.98px) {
    .img-hide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 767.98px) {
    .display-1 {
        font-size: 2.5rem;
    }
    .center-width {
        text-align: center;
    }
}

@font-face {
    font-family: "Anton";
    src: url("../fonts/Anton-Regular.ttf");
}

hr {
    margin: 10%;
}

.about-me {
    font-family: "Anton";
}

.bg-darker {
    /* background-color: #003279; */
    background-color: #11428b;
}
