hr {
    margin: 10%;
}

.bg-darker {
    background-color: #005b96;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.showing {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* @keyframes h2-animate {
    from {
        left: 200px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes img-first {
    from {
        right: 100px;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
} */

@media (max-width: 1199.98px) {
    .img-hide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 767.98px) {
    .display-1 {
        font-size: 2.5rem;
    }
    .center-width {
        text-align: center;
    }
}
